
html, body {
	height: 100%;
	font-family: Helvetica, Arial;
}

.container {
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 2000px;
	padding-left: 30px;
	padding-right: 30px;
}

ul {
	list-style: none;
	word-wrap: break-word;
	padding: 0;
}

.chat.page {
	height: 807.14px;
	width: 100%;
	min-height: 800px;
	min-width: 100px;
}

.not-allowed {
	cursor: not-allowed;
}

/* Dialog */

.dialogoverlay {
	display: none;
	opacity: 0.8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFFFFF;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.dialogbox {
	display: none;
	position: fixed;
	margin: auto;
	top: 40%;
	left: 0;
	right: 0;
	max-height: 200px;
	max-width: 500px;
	background: #223344;
	border-radius: 20px;
	z-index: 10;
}

.dialogbox > div {
	background: #AABBCC;
	margin: 8px;
}

.dialogbox > div > .dialogboxhead {
	background: #223344;
	font-size: 20px;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
}

.dialogbox > div > .dialogboxbody {
	background: #223344;
	font-size: 15px;
	padding: 20px;
	color: #FFFFFF;
}

.dialogbox > div > .dialogboxfoot {
	background: #223344;
	padding: 10px;
	color: #FFFFFF;
	text-align: right;
}

button.ok {
	background-color: #AABBCC;
	color: white;
}

button.ok:active {
	background-color: #AABBCC;
	color: white;
}

button.no {
	background-color: #AABBCC;
	color: white;
}

button.no:active {
	background-color: #AABBCC;
	color: white;
}

/* Sign Up */

#signUpDiv {
	position: fixed;
	opacity: 0.99;
	top: 0px;
	left: 0px;
	background: #223344;
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: center;
	z-index: 5;
}

#signUpDiv > p {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 100px;
	margin: auto;
	height: 60px;
	font-size: 30px;
	color: white;
}

#signUpName {
	border: 10px solid #000;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	outline: none;
	padding-left: 10px;
	height: 60px;
	width: 50%;
	max-width: 500px;
	text-align: center;
}

/* Selection */

#roomDiv {
	position: fixed;
	opacity: 0.99;
	top: 0px;
	right: 0px;
	background: #223344;
	height: 100%;
	width: 0px;
	text-align: center;
	vertical-align: center;
	overflow: hidden;
	z-index: 5;
	transition: .5s;
}

#roomDiv > ul {
	columns: 3;
	text-align: center;
	vertical-align: center;
	margin: 0;
}

li.gameRoom {
	color: white;
	font-size: 40px;
}

button.gameRoom {
	color: white;
	font-size: 40px;
	padding: 10px;
	margin: 10px;
	width: 150px;
}

.back {
	/*
	position: fixed;
	right: 20px;
	bottom: 20px;
	height: 40px;
	width: 100px;
	z-index: 5;
	*/
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 40px;
	transition: .3s;
}

.back a {
	position: absolute;
	top: 50%;
	left: -12px;
	margin: 0;
	text-decoration: none;
	width: 40px;
	height: 40px;
	border-bottom: 4px solid #778899;
	border-left: 4px solid #778899;
	transform: rotate(-135deg);
	transition: .3s;
}

.back:hover {
	background: #AABBCC;
}

/* UI */

.uiDiv {
	display: none;
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 700px;
	min-width: 100px;
	transition: .5s;
	overflow: hidden;
	text-align: center;
	background-color: rgb(240,240,240);
}

.info {
	top: 50%;
	height: 45%;
	width: 100px;
	max-height: 45%;
	max-width: 100%;
	margin: auto;
	text-align: center;
	overflow: hidden;
}

#myInfo {
	position: absolute;
	top: 0%;
}

#oppoInfo {
	position: absolute;
	top: 55%;
}

#myName {
	max-height: 100px;
	overflow: hidden;
}

#oppoName {
	max-height: 100px;
	overflow: hidden;
}

.break {
	
}

.gametime {
	position: absolute;
	height: 5%;
	top: 45%;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.undo {
	position: absolute;
	top: 50%;
	left: 10%;
	background-image: url('/img/undo.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: Transparent;
	cursor: pointer;
	outline: none;
	height: 30px;
	width: 40px;
}

.undo:active {
	background-image: url('/img/undo.png');
}

.concede {
	position: absolute;
	top: 50%;
	right: 10%;
	background-image: url('/img/concede.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: Transparent;
	cursor: pointer;
	outline: none;
	height: 30px;
	width: 40px;
}

.concede:active {
	background-image: url('/img/concede.png');
}

.num {
	position: relative;
	background-color: #DD2222;
	top: -14px;/*355px;*/
	left: 11px; /*33*/
	height: 20px;
	width: 20px;
	border-radius: 10px;
	color: white;
	font-size: 15px;
	font-weight: 600;
	display: block;
}

.sidepiece {
	border-radius: 50%;
	height: 43px;
	width: 43px;
	text-align: center;
	margin: auto;
	margin-top: 13px;
	margin-bottom: 14px;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

@-webkit-keyframes blinker {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

@-moz-keyframes blinker {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

.blink {
	-webkit-animation: blinker 1s infinite;
	-moz-animation: blinker 1s infinite;
	animation: blinker 1s infinite;
}

/* Menu */

.navBar {
	display: none;
	position: fixed;
	height: 100%;
	width: 20px;
	top: 0;
	left: 0;
	z-index: 5;
	transition: .5s;
	overflow: hidden;
	padding-top: 100px;
	background-color: #111;
	opacity: 0.9;
}

.navBar a {
	display: block;
	padding: 10px 10px 10px 40px;
	text-decoration: none;
	font-size: 30px;
	color: #778899;
	transition: .3s;
}

.navBar:hover {
	width: 200px;
}

.navBar a:hover, .offcanvas a:focus {
	color: #AABBCC;
	background-color: #223344;
}

p#usernumber {
	display: block;
	position: fixed;
	z-index: 3;
	padding: 0px;
	top: 0;
	right: 0;
	height: 15px;
	font-size: 10px;
	background-color: #AABBCC;
	border: solid #AABBCC;
	color: #000000;
}

p#spectatornumber {
	display: block;
	position: fixed;
	z-index: 3;
	padding: 0px;
	top: 15px;
	right: 0;
	height: 15px;
	font-size: 10px;
	color: #000000;
}

/* Pages */

.pages {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.page {
	height: 100%;
	width: 100%;
}

/* Font */

.messages {
	font-size: 150%;
}

.inputMessage {
	font-size: 100%;
}

.log {
	color: gray;
	font-size: 70%;
	margin: 5px;
	text-align: center;
}

/* Messages */

.chatArea {
	height: 100%;
	padding-bottom: 60px;
}

.messages {
	height: 100%;
	margin: 0;
	overflow-y: scroll;
	padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
	color: gray;
}

.username {
	font-weight: 700;
	overflow: hidden;
	padding-right: 15px;
	text-align: right;
}

/* Input */

.inputMessage {
	border: 10px solid #000;
	bottom: 0;
	height: 60px;
	left: 0;
	outline: none;
	padding-left: 10px;
	position: absolute;
	right: 0;
	width: 100%;
}


/* Button */

.arrow-down {
	width: 50px;
	height: 50px;
	position: relative;
}

.arrow-down.active {
	background: lightgreen;
}

.arrow-down:before, .arrow-down:after {
	content: "";
	display: block;
	width: 20px;
	height: 5px;
	background: white;
	position: absolute;
	top: 20px;
	transition: transform .5s;
}

.arrow-down:before {
	right: 21px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transform: rotate(45deg);
}

.arrow-down:after {
	right: 10px;
	transform: rotate(-45deg);
}

.arrow-down.active:before {
	transform: rotate(-45deg);
}

.arrow-down.active:after {
	transform: rotate(45deg);
}

